version: "3"
services:
  ccswebsite:
    image: ccswebsite
    deploy:
      replicas: 2
      restart_policy:
        condition: on-failure
    ports:
      - 5002:8080
    networks:
      - backend
networks:
  backend:
    external: true
